<%= form_for([@inventory_shelf_barcode.inventory_manage, @inventory_shelf_barcode]) do |f| %>
  <%= f.error_messages -%>

  <div class="field">
    <%= f.label :barcode %><br />
    <%= f.text_field :barcode, :class => 'short_name' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
